<div class="py-12 bg-body dark:bg-body-dark">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h1 class="mt-2 text-4xl font-extrabold tracking-tight leading-8 text-purple dark:text-purple-dark sm:text-4xl">
      <%= gettext("Translation Report") %>
      </h1>
    </div>
  </div>
</div>

<%= for section <- @sections do %>
  <%= render("_section.html", lessons: Map.fetch!(@report, section), section: humanize_section(section)) %>
<% end %>
